/*универсальный селектор для всех эл-ов на странице */
* {
    box-sizing: border-box; /* чтобы блок не выползал за отведённые ему размеры*/
    font-family: 'Segoe UI';
}

section 
{
    min-height: 100vh; /* мин высота секции равна 100% высоты экрана */
    padding: 8rem 10% 5rem; /* отступы внутри секции: сверху 8rem, справа и слева 10% от ширины, снизу 5rem */
    display: flex; /* включает режим Flexbox для размещения дочерних элементов */
    flex-direction: column; /* располагает элементы по вертикали (в столбик) */
    justify-content: center; /* центрирует дочерние элементы по вертикали внутри секции */
    border-bottom: 1px solid #eeeeee; /* тонкая светлая линия снизу секции */
}

    section h2 /*внутри section — заголовок*/ 
    {
        font-size: 3rem; /* Размер шрифта заголовка h2 */
        margin-bottom: 2rem; /* Отступ снизу, чтобы отделить заголовок от следующего содержимого */
        position: relative;
        padding-bottom: 1rem; /* Отступ снизу внутри заголовка */
    }

        section h2::after 
        {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 80px;
            height: 4px;
            background-color: #000000;
        }