.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 3rem;
    background: rgba(50, 50, 50, 0.7); /* Серый полупрозрачный */
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.nav {
    display: flex;
    gap: 2rem;
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.3s;
}

.nav a:hover {
    opacity: 0.7;
}

.logo {
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;
}

/* Бургер-меню (скрыто на десктопе) */
.menu-btn {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-btn span {
    width: 25px;
    height: 2px;
    background: white;
    transition: all 0.3s;
}

.menu-btn.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.active span:nth-child(2) {
    opacity: 0;
}
.menu-btn.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}