.home-section {
    background-color: #f8f8f8; /*светло-серый фон*/
    text-align: center; /* текст по центру */
}

    /* стили для заголовка первого уровня h1 внутри .home-section */
    .home-section h1 {
        font-size: 4rem; /*размер шрифта*/
        margin-bottom: 1.5rem; /* нижний отступ для создания расстояния между заголовком и следующим элементом */
        letter-spacing: -1px; /* для плотных букв (сжатие типо) */
    }

    /* стили для параграфов внутри .home-section */
    .home-section p {
        font-size: 1.5rem;
        color: #444444; /* темно-серый оттенок (текст) */
        margin: 0 auto; /* центрирование параграфа с помощью автоотступов */
    }
