/*стиль для секции контактов */
.contact-section 
{
    background-color: #ffffff; /* белый фон*/
}

.contact-wrapper 
{
    display: flex; /* располагает дочерние элементы в строку */
    gap: 4rem; /* промежуток между элементами */
    margin-top: 2rem; /* отступ сверху */
    margin-left: auto; /* Центрирование контейнера по горизонтали */
    margin-right: auto;
}

/* блок с контактной инфо */
.contact-info 
{
    flex: 1; /* занимает всю доступную ширину в flex-контейнере */
}

/* заголовок блока контактов */
.contact-info h3 
{
    font-size: 1.5rem; /* размер шрифта */
    margin-bottom: 1.5rem; /* отступ снизу для разделения от списка контактов */
}

/* Отдельный элемент контакта */
.contact-item 
{
    display: flex; /* располагает иконку и текст в строку */
    align-items: center; /* выравнивание элементов по центру по вертикали */
    margin-bottom: 1.2rem; /* отступ снизу от каждого контакта */
}

/* Иконка внутри элемента контакта */
.contact-item i 
{
    font-size: 1.2rem; /* размер текста*/
    margin-right: 1rem; /* отступ справа между иконкой и текстом */
    width: 40px; /*ширина для иконки*/
    height: 40px; /*высота для иконки*/
    background: #000; /*черный фон*/
    color: #fff; /*белый цвет текста иконки*/
    border-radius: 50%; /* кругл. */
    display: flex; /* для центрирования текста внутри иконки */
    align-items: center; /* центрирование по верт. */
    justify-content: center; /* центрирование по гор. */
}
