.footer {
    background-color: #ffffff;
    padding: 1rem 5rem;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* Остальные стили остаются без изменений */
.footer .site {
    font-size: 2rem;
}

.footer p {
    letter-spacing: 0.1rem;
    display: flex;
    align-items: center;
}

.footer p img {
    width: 5rem;
    height: 5rem;
    animation: spinning 5s infinite linear;
}

.footer .social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

@keyframes spinning {
    0% {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}